.git/
.github/
.venv/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
notebooks/
tests/
docs/
data/raw/*
data/processed/*
!data/raw/README.md
!data/processed/README.md
models/*
!models/README.md
*.md
!README.md
