.venv/

__pycache__/

# Ignore generated datasets
data/raw/*
data/processed/*
data/*.csv

# Keep folder structure
!data/raw/README.md
!data/processed/README.md

models/*
!models/README.md
!models/latest_version.txt
!models/20260822T060659590321Z/

*.egg-info/

.pytest_cache/

