# Virtual environment
venv/

# Data files (too large for GitHub)
data/*.csv
data/*.zip

# Saved models
models/*.pkl
models/*.joblib

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Kaggle API key (NEVER upload this)
kaggle.json